name: (master) [db] Database

on:
  workflow_dispatch:

jobs:
  create-db:
    runs-on: ubuntu-latest
    environment: master
    steps:
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Create database via SSH
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            docker pull postgres:latest
            docker stop tk-kitchen-db || true
            docker rm tk-kitchen-db || true
            docker run -d --name tk-kitchen-db -e POSTGRES_USER=tk_kitchen_user -e POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} -e POSTGRES_DB=tk_kitchen_db -p 127.0.0.0.1:9681:9681 postgres:latest
            docker network create tk-kitchen
            docker network connect tk-kitchen tk-kitchen-db
          EOF